
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #061426;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;

}

header {
    padding: 20px 0;
    border-bottom: 1px solid rgba(255,255,255,.08);
    background-color: rgba(6, 20, 38, 0.95);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color .3s ease;
}

nav a:hover {
    color: #1EA7FF;
}

.btn-contato {
    background: #00AEEF;
    color: white;
    text-decoration: none;
    padding: 14x 28px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
}

.logo img {
    height: 90px;
    width: auto;
    display: block;
}

.btn-contato {
    background: #1EA7FF;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    transition: .3s;
}

.btn-contato:hover {
    transform:translateY(-2px);
    box-shadow:0 8px 20px rgba(30,167,255,.35);
}